<%-include("partials/header")%> <%-include("partials/nav")%>

<form
  class="mt-5 d-flex gap-3 flex-column align-items-center"
  action="/change-password/<%=id%>"
  method="post"
>
  <h1 class="mt-5">Change Password</h1>
  <input
    class="w-25 form-control m-2"
    type="password"
    placeholder="New password"
    name="password"
  />
  <button class="w-25 btn btn-secondary">Submit</button>
  <h6>
    <a class="text-decoration-none" href="/signin">Sign-In</a> |
    <a class="text-decoration-none" href="/signup"> Sign-Up</a>
  </h6>
</form>
<%-include("partials/footer")%>
